@charset "UTF-8";
:root {
  --pink: #b74e73;
  --green: #4DB493;
  --orange: #E28721;
  --lightgrey: #F0F0F0;
  --blue: #000A81;
  --darkgrey: #777;
  --font_gothic: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --font_mincho: 'Noto Serif JP', sans-serif;
}

html {
  margin:0;
  padding:0;
}

body {
  font-family: var(--font_mincho);
  font-size: 2.5vmin;
  line-height: 1.5;
  margin: 0;
  padding:0;
  width: 100%;
  overflow-x: hidden;
}

.header {
  color: #000;
  margin: 0 10%;
}

.header p {
  display: inline-block;
  font-family: var(--font_gothic);
  font-size: 2vmin;
  color: #fff;
  background-color: var(--green);
  padding: 1% 2%;
  border-radius: 3vmin;
}

.header h3{
  font-size: 4.5vmin;
  font-weight: bold;
  margin: 0;
  line-height: 1em;
}

.header .underline {
  position: relative;
  display: inline-block;
}

.header .underline:before {
  content: '';
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: var(--green);
}

/**************** モーダル画面 ****************/
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 10;
  background-color: #fff;
  padding: 5%;
}

.modal .logo {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.modal .logo img {
  height: 10vmin;
}

.modal .logo i {
  color: var(--pink);
  font-size: 5vmin;
}

.modal .logo i:hover {
  cursor: pointer;
}

.modal .inner {
  color: var(--darkgrey);
  text-align: center;
}

.modal .inner .title {
  margin-bottom: 5%;
}

.modal .inner .desciption ul {
  list-style: none;
  font-size: 4vmin;
  padding: 0;
  text-align: left;
  margin: 5% 10%;
}

.modal .inner .desciption li {
  margin-bottom: 3%;
}

.modal .inner .desciption li i {
  color: var(--pink);
}

.modal .inner .function {
  text-align: left;
  padding: 5%;
}

.modal .inner .function ul {
  font-size: 2.5vmin;
}

.modal .inner .function .conversation{
  color: #fff;
  font-size: 14px;
  margin: 5% 0;
}

.modal .inner .function .right {
  text-align: right;
  margin-top: 5%;
}

.modal .inner .function .right p {
  display: inline-block;
  min-width: 50%;
  text-align: right;
  padding: 2%;
  background-color: #000A81;
  border-radius: 5em 5em 0 5em;
}

.modal .inner .function .left {
  text-align: left;
}

.modal .inner .function .left p {
  display: inline-block;
  min-width: 50%;
  padding: 5%;
  background-color: var(--pink);
  border-radius: 5em 5em 5em 0;
}

.modal .inner .function .attention {
  margin: 5% 0;
}

.modal .inner .function span {
  color: #fff;
  background-color: var(--green);
  padding: 1% 2%;
}

.modal .image {
  text-align: center;
}

.modal .image img {
  width: 50%;
}

/**************** ヘッダー ****************/
header {
  font-family: var(--font_gothic);
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid var(--lightgrey);
  z-index: 10;
}

header .header_inner {
  display: flex;
  justify-content: space-around;
  font-size: 2vmin;
  margin: 0 5%;
}

header img {
  height: 50px;
}

header p {
  margin-top: 2%;
  margin-bottom: 0;
}

header p a {
  display: inline-block;
  line-height: 50px;
  color: #000;
  text-decoration: none;
}

header p a:hover {
  color: var(--green);
}

header .border_left {
  height: 2vmin;
  padding-left: 1vmin;
  border-left: 1px solid var(--pink);
}

header .inquiry {
  text-align: center;
  background-color: var(--pink);
  border: 1px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-size: 2vmin;
  padding: 1%;
  margin-bottom: 2%;
}

header .inquiry:hover {
  cursor: pointer;
  background-color: var(--darkgrey);
  border: 1px solid var(--green);
}

/**************** トップ ****************/
.top_section {
  color: #fff;
  position: relative;
  background-color: var(--pink);
  width: 100%;
  height: 600px;
  padding-top: 5%;
}

#top_head {
  height: 100%;
  background-image: url('../image/top2.png');
  background-position: bottom 10% right 45%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.top_contents {
  height: 100%;
  background-image: url('../image/top1.png');
  background-position: bottom -10% right -10%;
  background-size: 50%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.5em;
  padding: 5% 5% 2% 5%;
  margin: 0;
}

.top_section .content {
  width: 50%;
  padding: 0 5% 5% 5%;
}

.top_section .content h2 {
  font-size: 2.5em;
  margin-top: 0;
}

.top_section .content_description {
  padding: 4% 1%;
}

.top_section .content_description p {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
}

.top_section .content_description p img {
  height: 1em;
  margin-right: 0.5em;
  margin-bottom: -1%;
  filter: drop-shadow(0 0 5px #fff);
}

.top_section .content_description .second_line {
  margin-left: 5%;
}

.top_section .content_description .third_line {
  margin-left: 5%;
}

.top_section button {
  font-family: var(--font_gothic);
  color: #fff;
  font-size: 1em;
  margin-top: 5%;
  padding: 5%;
  background-color: var(--green);
  border: 1px solid #fff;
  border-radius: 0.5em;
}

.top_section button:hover {
  cursor: pointer;
  background-color: var(--darkgrey);
}

/**************** バナー ****************/
.banner {
  padding: 5%;
}

.banner_top {
  margin: 2% 0 2% 5%;
  padding: 0 5% 5% 5%;
  background-image: url('../image/comment_pink.svg');
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  z-index: -1;
}

.banner_top:before {
  content: '';
  position: absolute;
  left: -5%;
  top: 0px;
  display: inline-block;
  width: 10%;
  height: 2px;
  background-color: var(--pink);
}

.banner_top p {
  font-size: 3.5vmin;
  color: #fff;
}

.banner .first {
  margin-top: -8%;
}

.banner_contents {
  margin-bottom: 5%;
}

.banner_contents .content_header {
  text-align: left;
}

.banner_contents .content_header .question {
  display: inline-block;
  color: #fff;
  min-width: 50%;
  margin: 0 10%;
  padding: 1%;
  background-image: url('../image/comment_green.svg');
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
  font-size: 3vmin;
}

.banner_contents .content_header .question p {
  padding-left: 10%;
}

.banner_contents .content_header .answer {
  display: inline-block;
  width: 80%;
  color: #000;
  margin: 0 10%;
  font-size: 3.5vmin;
}

.banner_contents .content_header .answer p {
  font-family: var(--font_gothic);
  margin: 0 0 1% 0;
  font-weight: bold;
  text-align: center;
}

.banner_contents .content_inner {
  display: block;
  margin: 0 10%;
}

.banner_contents .content_inner .text{
  display: block;
  width: 30%;
  vertical-align: middle;
}

.banner_contents .content_inner .text p{
  font-family: var(--font_gothic);
  font-size: 2vmin;
  padding: 0 5%;
}

.banner_contents .content_inner .image {
  display: table-cell;
  width: 70%;
  vertical-align: middle;
}

.banner_contents .content_inner img {
  width: 100%;
}

/**************** アバウト ****************/
.about {
  padding: 5%;
  background-color: var(--lightgrey);
}

.about .header {
  display: table;
  margin: 0 5%;
}

.about .header h3{
  display: table-cell;
  width: 30%;
  vertical-align: middle;
}

.about .header p {
  display: table-cell;
  background-color: transparent;
  border-left: 2px solid var(--pink);
  border-radius: 0;
  color: var(--pink);
  vertical-align: middle;
}

.about .pc {
  width: 100%;
}

.about .pc td {
  width: 33%;
}

.about .content p {
  margin: 0;
}

.about .pc .section_one td {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: var(--darkgrey);
}

.about .pc .section_two td {
  font-family: var(--font_gothic);
  padding: 0 2%;
  vertical-align: top;
}

.about .content h4 {
  border-left: 2px solid var(--pink);
  padding-left: 5%;
  color: var(--pink);
}

.about .pc .section_two td .bold {
  font-weight: bold;
}

.about .pc .desciption p {
  font-size: 2vmin;
}

/**************** ハイライト ****************/
.highlight {
  padding: 5%;
}

.highlight .header p {
  background-color: var(--pink);
}

.highlight .header .underline:before {
  background-color: var(--green);
}

.features {
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
}

.features td {
  width: 50%;
  font-family: var(--font_gothic);
}

.features .left {
  background-color: var(--pink);
  border-radius: 50px 0 0 50px;
  padding: 0;
}

.features .right {
  background-color: var(--pink);
  border-radius: 0 50px 50px 0;
  padding: 0;
}

.features .feature_content p {
  font-size: 1.5vmin;
  color: #fff;
  text-align: center;
  padding: 0 25%;
}

.features .feature_content .subtitle{
  font-size: 3.5vmin;
  font-weight: bold;
  padding: 0 5%;
}

.features .description_left {
  border-right: 2px solid var(--green);
}

.features .description_right {
  border-left: 2px solid var(--green);
}

.features .description_left p, .features .description_right p {
  font-size: 2vmin;
  color: #000;
  padding: 2% 5%;
}

/**************** カスタマーズ ****************/
.customers {
  padding: 0 5%;
}

.customers .header p {
  background-color: var(--orange);
}

.customers .header .underline:before {
  background-color: var(--blue);
}

.customers .customers_contents {
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
}

.customers .content {
  position: relative;
  height: 250px;
}

.customers .content .description {
  position: absolute;
  bottom: 0;
}

.customers .content .image img {
  width: 250px;
  height: 200px;
  border: 1px solid var(--blue);
  border-radius: 25px;
  object-fit: cover;
}

.customers .content .company {
  position: relative;
  font-family: var(--font_gothic);
  font-weight: bold;
  background-color: var(--orange);
  border-radius: 100px;
  padding: 5%;
  width: 150px;
  height: 100px;
}

.customers .content .company:hover {
  cursor: pointer;
  background-color: var(--darkgrey);
}

.customers .content .company p{
  position: absolute;
  padding: 5%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 150px;
  text-align: center;
  margin: 0;
  color: #fff;
  line-height: 2.5vmin;
  font-size: 2vmin;
}

/****** モーダル ******/
.customers .modal .inner {
  padding: 5%;
}

.customers .modal .inner .title h3 {
  text-align: left;
  color: var(--pink);
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.customers .modal .image_paragraph {
  width: 100%;
  display: table;
}

.customers .modal .image_paragraph .list {
  display: table-cell;
  width: 50%;
  padding: 0;
  vertical-align: middle;
}

.customers .modal .image_paragraph .list ul {
  list-style: circle;
  padding-right: 5%;
  text-align: left;
}

.customers .modal .image_paragraph .customer_image {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}

.modal .image_paragraph img {
  width: 100%;
}

.customers .modal .paragraph {
  margin: 5% 0;
}

.customers .modal .subtitle{
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/**************** 無料トライアル ****************/
.trial {
  width: 100%;
  color: #fff;
  padding: 5% 0;
  background-color: var(--blue);
  text-align: center;
}

.trial .contents {
  cursor: pointer;
}

/**************** 料金体系 ****************/
.price {
  padding: 5%;
}

.price .header p {
  background-color: var(--blue);
}

.price .header .underline:before {
  background-color: var(--pink);
}

.price .contents {
  font-family: var(--font_gothic);
  margin: 0 10%;
  padding-top: 3%;
}

.price .contents h3 {
  margin-top: 0;
  padding-bottom: 5%;
}

.price h4 {
  font-weight: normal;
  margin: 0 0 2% 0;
}

.price .content {
  width: 100%;
  height: 30%;
  padding: 2% 0;
  display: table;
}

.price .content .underline {
  position: relative;
  display: inline-block;
}

.price .content .underline:before {
  content: '';
  position: absolute;
  bottom: 5px;
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #fff;
}

.price .content .content_title {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  color: #fff;
  box-sizing: border-box;
  background-color: var(--pink);
  border-radius: 50px 0 0 50px;
  padding: 5%;
}

.price .content .content_description {
  display: table-cell;
  vertical-align: middle;
  font-size: 2vmin;
  box-sizing: border-box;
  border: 1px solid var(--pink);
  border-radius: 0 50px 50px 0;
  padding: 2%;
  height: auto;
}

.price .content .content_description ul {
  list-style: none;
  padding: 0;
}

.price .content .content_description .subtitle {
  font-weight: bold;
}

.price .content .other_service_title {
  background-color: var(--darkgrey);
}

.price .content .other_service_description {
  border: 1px solid var(--darkgrey);
}

.price .price_footer {
  width: 100%;
  text-align: center;
  font-size: 2vmin;
  color: var(--darkgrey);
}

/**************** よくある質問 ****************/
.faq {
  padding: 5%;
  background-color: var(--lightgrey);
}

.faq .contents {
  font-family: var(--font_gothic);
  padding: 5% 0 0 0;
}

.faq .contents td {
  vertical-align: top;
  text-align: center;
}

.faq .first td {
  width: 33%;
}

.faq .second td {
  width: 50%;
}

.faq .contents i {
  font-size: 15vmin;
  color: var(--pink);
}

.faq .contents .question {
  padding: 0 5%;
  font-weight: bold;
  font-size: 2vmin;
}

.faq .contents .answer {
  padding: 0 5%;
  font-size: 2vmin;
}


/**************** 会社概要 ****************/
.company {
  padding: 2% 5%;
}

.company .header p {
  background-color: var(--pink);
}

.company .header h3 {
  font-size: 3vmin;
}

.company .inner {
  display: table;
  width: 80%;
  margin: 0 auto;
}

.company .contents {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  color: var(--darkgrey);
}

.company .contents ul {
  list-style: none;
}

.company .contents li {
  font-size: 2vmin;
  margin: 0 8% 2% 8%;
}

.company .contents .subtitle {
  font-weight: bold;
  font-size: 3.5vmin;
}

/**************** フッター ****************/
footer {
  font-family: var(--font_gothic);
  width: 100%;
  background-color: var(--pink);
  color: #fff;
  padding: 2% 0;
  text-align: center;
  font-size: 2vmin;
}

/* .float */
/**************** topに戻るボタン ****************/
#scrollTop a {
  position: fixed;
  text-decoration: none;
  color: var(--orange);
  right: 2%;
  bottom: 0;
  font-size: 10vmin;
}

#scrollTop a:hover {
  cursor: pointer;
}

/**************** メッセージボタン ****************/
#inquiry_message a {
  position: fixed;
  text-decoration: none;
  color: var(--green);
  left: 2%;
  bottom: 40%;
  font-size: 5vmin;
}

#inquiry_message a:hover {
  cursor: pointer;
}
